/* customStyles.css */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap');



.card-custom:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-img-top-custom {
    height: 18rem;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-body-custom {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


