
.main {
  max-width: 75rem;
  padding: 3em 1.5em;
  margin: 0 auto;
}

.main_heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #ececff;
}

.cards {
  position: relative;
}

.cards_inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2.5em;
  padding-bottom: 1.5em;
}


.card, .card-custom {
  flex: 0 0 auto;
  width: 14rem;
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover, .card-custom:hover {
  transform: translateY(-10px);
}

.card-img-top, .card-img-top-custom {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  object-position: center;
}

.card-body, .card-body-custom {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title, .card-title-custom {
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #333;
}

.card-text-custom {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-bottom: 15px;
  color: #666666;
}

.button-custom, .back-button {
  background-color: #ff6f61;
  color: white; 
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
}

.button-custom:hover, .back-button:hover {
  background-color: #ff3b2f;
}

.button-favorite-custom {
  color: #ff6f61;
  transition: color 0.3s;
}

.button-favorite-custom:hover {
  color: #ff3b2f;
}


.detail-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.detail-container .img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 20px; 
}

.detail-container img {
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: auto; 
  height: auto; 
  max-height: 600px;
  max-width: 100%;
  object-fit: cover;
}


.detail-table {
  width: 100%;
  margin-top: 20px;
  max-width: 800px;
  text-align: left;
  border-collapse: collapse;
}

.detail-table th, .detail-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.detail-table th {
  width: 30%;
  background-color: #f8f9fa;
  font-weight: bold;
  font-size: 1.1rem;
}

.detail-table td {
  font-size: 1rem;
}

.detail-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.detail-table tr:last-child td {
  border-bottom: none;
}


.dropdown-container {
  margin-right: -40px;
  display: inline-block;
  margin-left: 10px;
}

.dropdown-toggle {
  background-color: #ff6f61 !important; 
  color: white !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 20px !important;
  transition: background-color 0.3s !important;
}

.dropdown-toggle:hover {
  background-color: #ff3b2f !important; 
}

@media (min-width: 768px) {
  .detail-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .detail-container .img-container {
      flex: 1;
      padding-right: 20px;
      margin-top: 0;
  }

  .detail-container .info-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 800px;
  }
}

.small-navbar {
  padding: 0.5rem 1rem; 
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: -50px; 
  margin-top: -20px;
  margin-bottom: -20px;
}

.logo-img {
  height: 80px; 
}

.main {
  text-align: center; 
}

.metallic-title {
  color: rgba(255, 111, 97, 0.8); 
  font-family: 'Playfair Display', serif; 
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 6em; 
  font-weight: bold;
  margin: 0;
}

.metallic-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  transition: left 0.5s;
}

.metallic-title:hover::before {
  left: 100%;
}


body.dark-mode {
  background-color: #000;
  color: #fff;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode .card, 
body.dark-mode .card-custom {
  background-color: transparent; 
  border: 1px solid #333;
}

body.dark-mode .card-body, 
body.dark-mode .card-body-custom {
  background-color: rgba(0, 0, 0, 0.6); 
  color: #ffffff; 
}

body.dark-mode .card-title-custom, 
body.dark-mode .card-text-custom {
  color: #ffffff; 
}

body.dark-mode .button-custom, 
body.dark-mode .back-button, 
body.dark-mode .dropdown-toggle {
  background-color: #00ffff; 
  color: black !important; 
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; 
}

body.dark-mode .button-custom:hover, 
body.dark-mode .back-button:hover, 
body.dark-mode .dropdown-toggle:hover {
  background-color: #00ccff; 
}

body.dark-mode .button-favorite-custom {
  color: #00ffff;
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; 
}

body.dark-mode .button-favorite-custom:hover {
  color: #00ccff; 
}

body.dark-mode .navbar {
  background-color: #111 !important;
}


body.dark-mode::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://img.freepik.com/fotos-premium/fondo-cielo-estrellado-oscuro_118086-762.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  opacity: 0.8; 
  filter: contrast(1.2); 
}

body.dark-mode .dark-mode-toggle {
  background-color: #ffffff; 
  color: black !important;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; 
}

body.dark-mode .dark-mode-toggle:hover {
  background-color: #f2f2f2; 
}


.button-custom {
  background-color: #ff6f61;
  color: white; 
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
}

.button-custom:hover {
  background-color: #ff3b2f;
}


.dropdown-toggle {
  background-color: #ff6f61 !important; 
  color: white !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 20px !important;
  transition: background-color 0.3s !important;
}

.dropdown-toggle:hover {
  background-color: #ff3b2f !important; 
}


body.dark-mode .dropdown-toggle {
  background-color: #00ffff !important; 
  color: black !important; 
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; 
}

body.dark-mode .dropdown-toggle:hover {
  background-color: #00ccff !important; 
}


.metallic-title {
  color: rgba(255, 111, 97, 0.8); 
  font-family: 'Playfair Display', serif; 
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 6em; 
  font-weight: bold;
  margin: 0;
}

.metallic-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent); 
  transition: left 0.5s;
}

.metallic-title:hover::before {
  left: 100%;
}


body.dark-mode .metallic-title {
  color: #00ffff; 
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; 
}

body.dark-mode .metallic-title::before {
  background: linear-gradient(120deg, transparent, rgba(0, 0, 0, 0.8), transparent); 
}
* Estilo del botón de modo oscuro */
.btn-dark-mode {
  background-color: #000000; 
  color: white !important;
  border: none !important;
  box-shadow: none; 
}


.btn-light-mode {
  background-color: #ffffff; 
  color: black !important;
  border: 1px solid #ffffff !important; 
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; 
}

.btn-light-mode:hover {
  background-color: #f2f2f2; 
}

.dark-mode-toggle {
  background-color: #333; 
  color: white !important;
  border: none !important; 
  border-radius: 30px !important;
  padding: 10px 20px !important;
  transition: background-color 0.3s !important;
}

.dark-mode-toggle:hover {
  background-color: #444; 
}


body.dark-mode .dark-mode-toggle {
  background-color: #ffffff; 
  color: black !important;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; 
  border: none !important; 
}

body.dark-mode .dark-mode-toggle:hover {
  background-color: #f2f2f2; 
}

body.dark-mode .detail-table {
  background-color: rgba(0, 0, 0, 0.6); 
  color: #ffffff; 
}

body.dark-mode .detail-table th, 
body.dark-mode .detail-table td {
  background-color: rgba(0, 0, 0, 0.6); 
  color: #ffffff; 
  border-bottom: 1px solid #ffffff; 
}

body.dark-mode .detail-table th {
  background-color: rgba(0, 0, 0, 0.8); 
}


@media (max-width: 767px) {
  .main_heading {
    font-size: 1.5em; 
    margin-bottom: 0.5em; 
  }

  .metallic-title {
    font-size: 3em; 
  }

  .navbar .container {
    flex-direction: column; 
    align-items: center; 
  }

  .logo-container {
    margin: 0 auto; 
    margin-bottom: 10px; 
  }

  .dark-mode-toggle, 
  .dropdown-container {
    margin-bottom: 10px; 
  }

  .cards_inner {
    flex-wrap: nowrap; 
    overflow-x: auto; 
    gap: 1em; 
    }
  
  .card, .card-custom {
    width: 80%; 
     flex: 0 0 auto; 
  }
}