/* General Styles */
.main {
  max-width: 75rem;
  padding: 3em 1.5em;
  margin: 0 auto;
}

.main_heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #ececff;
}

.cards {
  position: relative;
}

.cards_inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2.5em;
  padding-bottom: 1.5em;
}

/* Card Styles */
.card, .card-custom {
  flex: 0 0 auto;
  width: 14rem;
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover, .card-custom:hover {
  transform: translateY(-10px);
}

.card-img-top, .card-img-top-custom {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  object-position: center;
}

.card-body, .card-body-custom {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title, .card-title-custom {
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #333;
}

.card-text-custom {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-bottom: 15px;
  color: #666666;
}

/* Button Styles */
.button-custom, .back-button {
  background-color: #ff6f61;
  color: white; /* Texto en blanco para modo claro */
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
}

.button-custom:hover, .back-button:hover {
  background-color: #ff3b2f;
}

.button-favorite-custom {
  color: #ff6f61;
  transition: color 0.3s;
}

.button-favorite-custom:hover {
  color: #ff3b2f;
}

/* Detail Container Styles */
.detail-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.detail-container .img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 20px; 
}

.detail-container img {
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: auto; 
  height: auto; 
  max-height: 600px;
  max-width: 100%;
  object-fit: cover;
}

/* Detail Table Styles */
.detail-table {
  width: 100%;
  margin-top: 20px;
  max-width: 800px;
  text-align: left;
  border-collapse: collapse;
}

.detail-table th, .detail-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.detail-table th {
  width: 30%;
  background-color: #f8f9fa;
  font-weight: bold;
  font-size: 1.1rem;
}

.detail-table td {
  font-size: 1rem;
}

.detail-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.detail-table tr:last-child td {
  border-bottom: none;
}

/* Dropdown Styles */
.dropdown-container {
  margin-right: -20px;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #ff6f61 !important; /* Mismo color que el botón de Learn More */
  color: white !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 20px !important;
  transition: background-color 0.3s !important;
}

.dropdown-toggle:hover {
  background-color: #ff3b2f !important; /* Color más oscuro al pasar el mouse */
}

/* Media Queries */
@media (min-width: 768px) {
  .detail-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .detail-container .img-container {
      flex: 1;
      padding-right: 20px;
      margin-top: 0;
  }

  .detail-container .info-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 800px;
  }
}

.small-navbar {
  padding: 0.5rem 1rem; 
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: -50px; 
  margin-top: -20px;
  margin-bottom: -20px;
}

.logo-img {
  height: 80px; 
}

.main {
  text-align: center; 
}

.metallic-title {
  color: rgba(255, 111, 97, 0.8); /* Color base translúcido más vivo */
  font-family: 'Playfair Display', serif; /* Fuente para el título */
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 6em; /* Tamaño del texto */
  font-weight: bold;
  margin: 0;
}

.metallic-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  transition: left 0.5s;
}

.metallic-title:hover::before {
  left: 100%;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #000;
  color: #fff;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode .card, 
body.dark-mode .card-custom {
  background-color: transparent; /* Fondo transparente */
  border: 1px solid #333;
}

body.dark-mode .card-body, 
body.dark-mode .card-body-custom {
  background-color: rgba(0, 0, 0, 0.6); /* Negro más translúcido */
  color: #ffffff; /* Texto más blanco */
}

body.dark-mode .card-title-custom, 
body.dark-mode .card-text-custom {
  color: #ffffff; /* Texto completamente blanco */
}

body.dark-mode .button-custom, 
body.dark-mode .back-button, 
body.dark-mode .dropdown-toggle {
  background-color: #00ffff; /* Azul fluorescente brillante */
  color: black !important; /* Texto en negro */
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; /* Efecto de brillo */
}

body.dark-mode .button-custom:hover, 
body.dark-mode .back-button:hover, 
body.dark-mode .dropdown-toggle:hover {
  background-color: #00ccff; /* Azul más oscuro al pasar el mouse */
}

body.dark-mode .button-favorite-custom {
  color: #00ffff; /* Azul fluorescente brillante */
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; /* Efecto de brillo */
}

body.dark-mode .button-favorite-custom:hover {
  color: #00ccff; /* Azul más oscuro al pasar el mouse */
}

body.dark-mode .navbar {
  background-color: #111 !important;
}

/* Starfield background */
body.dark-mode::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://img.freepik.com/fotos-premium/fondo-cielo-estrellado-oscuro_118086-762.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  opacity: 0.8; /* Ajusta la opacidad según sea necesario */
  filter: contrast(1.2); /* Añade un poco de contraste */
}

body.dark-mode .dark-mode-toggle {
  background-color: #ffffff; /* Botón blanco brillante */
  color: black !important;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; /* Efecto de brillo */
}

body.dark-mode .dark-mode-toggle:hover {
  background-color: #f2f2f2; /* Un poco más oscuro al pasar el mouse */
}

/* Ajustes adicionales para botones en modo claro */
.button-custom {
  background-color: #ff6f61;
  color: white; /* Texto en blanco para modo claro */
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
}

.button-custom:hover {
  background-color: #ff3b2f;
}

/* Ajustes específicos para el dropdown en modo claro */
.dropdown-toggle {
  background-color: #ff6f61 !important; /* Mismo color que el botón de Learn More */
  color: white !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 20px !important;
  transition: background-color 0.3s !important;
}

.dropdown-toggle:hover {
  background-color: #ff3b2f !important; /* Color más oscuro al pasar el mouse */
}

/* Ajustes específicos para el dropdown en modo oscuro */
body.dark-mode .dropdown-toggle {
  background-color: #00ffff !important; /* Azul fluorescente brillante */
  color: black !important; /* Texto en negro */
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; /* Efecto de brillo */
}

body.dark-mode .dropdown-toggle:hover {
  background-color: #00ccff !important; /* Azul más oscuro al pasar el mouse */
}

/* Estilo del título */
.metallic-title {
  color: rgba(255, 111, 97, 0.8); /* Color base translúcido más vivo */
  font-family: 'Playfair Display', serif; /* Fuente para el título */
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 6em; /* Tamaño del texto */
  font-weight: bold;
  margin: 0;
}

.metallic-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent); /* Efecto blanco en modo claro */
  transition: left 0.5s;
}

.metallic-title:hover::before {
  left: 100%;
}

/* Estilo del título en modo oscuro */
body.dark-mode .metallic-title {
  color: #00ffff; /* Azul fluorescente brillante */
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; /* Efecto de brillo */
}

body.dark-mode .metallic-title::before {
  background: linear-gradient(120deg, transparent, rgba(0, 0, 0, 0.8), transparent); /* Efecto más oscuro, casi negro */
}
* Estilo del botón de modo oscuro */
.btn-dark-mode {
  background-color: #000000; /* Botón negro */
  color: white !important;
  border: none !important;
  box-shadow: none; /* Sin sombra */
}

/* Estilo del botón de modo claro */
.btn-light-mode {
  background-color: #ffffff; /* Botón blanco brillante */
  color: black !important;
  border: 1px solid #ffffff !important; /* Borde del mismo color que el botón */
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; /* Efecto de brillo */
}

.btn-light-mode:hover {
  background-color: #f2f2f2; /* Un poco más oscuro al pasar el mouse */

}
/* Botón de Dark Mode */
.dark-mode-toggle {
  background-color: #333; /* Negro en modo claro */
  color: white !important;
  border: none !important; /* Eliminar el borde */
  border-radius: 30px !important;
  padding: 10px 20px !important;
  transition: background-color 0.3s !important;
}

.dark-mode-toggle:hover {
  background-color: #444; /* Color más claro al pasar el mouse en modo claro */
}

/* Botón de Dark Mode en modo oscuro */
body.dark-mode .dark-mode-toggle {
  background-color: #ffffff; /* Botón blanco brillante */
  color: black !important;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; /* Efecto de brillo */
  border: none !important; /* Eliminar el borde negro */
}

body.dark-mode .dark-mode-toggle:hover {
  background-color: #f2f2f2; /* Un poco más oscuro al pasar el mouse */
}
/* Estilos para la tabla de detalles en modo oscuro */
body.dark-mode .detail-table {
  background-color: rgba(0, 0, 0, 0.6); /* Negro translúcido */
  color: #ffffff; /* Texto blanco */
}

body.dark-mode .detail-table th, 
body.dark-mode .detail-table td {
  background-color: rgba(0, 0, 0, 0.6); /* Fondo negro translúcido */
  color: #ffffff; /* Texto blanco */
  border-bottom: 1px solid #ffffff; /* Bordes blancos */
}

body.dark-mode .detail-table th {
  background-color: rgba(0, 0, 0, 0.8); /* Negro más oscuro para encabezados */
}